%html
%head
  %title random soma
  = javascript_include_tag 'jquery'
  = javascript_include_tag 'somaize'
  = stylesheet_link_tag 'somaize'
  = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here'
  = javascript_include_tag 'ga'
%body
  .midst
    = image_tag 'dice.jpeg', :class => 'randomizer'
